body, h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}

.partner-profile {
	margin-bottom: 35px;
	margin-top: 40px;
}

.vert-text h1 {
	font-weight: 300;
}

.services {
	background: #1A47B0;
}

.btn-default {
	color: #fff;
	background-color: #313B4A;
}

.callout .vert-text h1{
	color: #EDD21F;
	font-weight: 400;
}

.header {
	background: url(../img/SL_skyline.jpg) center center fixed;
}

.sebastian {
	background: url(../img/sebastian.png) no-repeat center center;
	display: inline-block;
	width: 200px;
	height: 200px;
/* 	line-height: 136px; */
	vertical-align: middle;
	text-align: center;
}